@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

body{
    height: 100vh;
    background-color: #9dafb3;
    margin: 0 ;
    padding: 0;
    font-family: 'Tilt Neon', sans-serif;
}


@tailwind base;
@tailwind components;
@tailwind utilities;